body {
	background: #F9FAFB;
	color: #2C374B;
	line-height: 24px;
}

.card {
	background: white;
	border-radius: 4px;
	padding: 36px 48px;
	margin: auto;
	min-width: 620px;
	min-height: 400px;
	box-shadow: 0px 4px 10px rgba(44, 55, 75, 0.1);
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

h5 {
	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

.input {
	background: white !important;
	border: 1px solid red !important;
}

[id*="-address"] {
	background: white !important;
	border: 1px solid red !important;
}

p {
	font-family: Helvetica Neue;
	text-align: center;
	font-size: 12px;
}

/* Button styles */

button {
  min-width: 5rem;
  padding: 8px 24px;
  background: #2C374B;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.01em;
}

button:hover {
  background: #4E5DE4;
  transition: 0.1s;
}

button:active {
  background: #3D4A99;
  transition: 0.1s;
}
