body {
  background: #F9FAFB;
  font-family: Helvetica Neue;
  line-height: 24px;
  color: #575C66;
}

p {
  margin: 0;
  font-size: 14px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

h5 {
  font-family: Helvetica Neue;
  font-weight: bold;
  color: #2C374B;
  font-size: 20px;
  margin: 0;
}

.card {
	background: white;
	border-radius: 4px;
	padding: 36px 48px;
	margin: auto;
	min-width: 620px;
	height: fit-content;
	box-shadow: 0px 4px 10px rgba(44, 55, 75, 0.1);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.input {
  background: white !important;
  border: 1px solid red !important;
}

[id*="-address"] {
  background: white !important;
  border: 1px solid red !important;
}

.address {
  height: 24px;
  width: fit-content;
  padding: 0;
  border: none;
  border-radius: 4px;
  background: #F5F6FF;
  display: flex;
  align-items: flex-start;
}

.blockie {
  width: 24px;
  height: 24px;
  border-radius: 4px 0 0 4px;
  opacity: .8;
}

.address p {
  font-family: Roboto Mono;
  font-size: 14px;
  margin: 0 8px;
}

/* Upgrade details*/

.details {
  box-sizing: border-box;
  border: 1px solid #D8DBE2;
  border-radius: 6px;
  margin-top: 32px;
}

.details .header {
  padding: 16px;
  border-bottom: 1px solid #D8DBE2;
}

.details .header p {
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818998; 
}

.nobullet {
  list-style-type: none;
  padding: 16px;
  margin: 0;
}

li { 
  margin-left: 20px;
  margin-bottom: 8px;
  padding-left: 4px;
}

li:last-child { 
  margin-bottom: 4px;
}

li.note { list-style-image: url('/ic_info.svg'); }
li.error { list-style-image: url('/ic_error.svg'); }
li.success { list-style-image: url('/ic_success.svg'); }

li .title {
  font-weight: bold;
}

li .description {
  line-height: 1.2;
}
